@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  background-color: #272727;
}

body {
  font-family: "Lexend Deca", sans-serif;
  background-color: #272727;
  position: relative;
}

#root {
  /* display: none; */
}

.welcome, .new {
  display: block;
}

.welcome.hide,
.new.hide {
  display: none;
}

.welcome.show,
.new.hide {
  display: block;
}

/* PRE HEADER */
header .pre-header {
  display: flex;
  padding: 0 120px;
  background: #fff;
  color: #393939;
  justify-content: space-between;
  align-items: center;
}

header button {
  background-color: #6eeb83;
  border: none;
  color: #fff;
  padding: 15px 7px;
  cursor: pointer;
}

header .pre-header p,
header .pre-header i {
  padding: 15px 7px;
  font-size: 12px;
  background: #fff;
}
.pre-header_info,
.pre-header_weather,
.pre-header_time {
  display: flex;
}

header .pre-header .pre-header_social {
  display: flex;
  gap: 10px;
  background: #fff;
}

header .pre-header .pre-header_social i {
  padding: 4px;
  background-color: #6eeb83;
  border-radius: 50%;
  color: #272727;
  cursor: pointer;
}

/* HEADER */
header .header {
  background-color: #272727;
  display: flex;
  justify-content: space-between;
  padding: 37px 120px;
}

header .header-logo {
  cursor: pointer;
}

header .header ul {
  display: flex;
  gap: 70px;
  align-items: center;
  color: #fff;
}

header .header ul li a {
  color: #fff;
}

header .header ul li a.active,
header .header ul li a:hover {
  color: #6eeb83;
}

header .header .header-search {
  align-items: center;
  padding: 22px 0;
  display: flex;
  gap: 30px;
}

header .header .header-search i {
  align-items: center;
  color: #fff;
  cursor: pointer;
}

header .header .header-search a {
  color: #fff;
}

header .header .header-search i:hover,
header .header .header-search a:hover {
  color: #6eeb83;
}

header .header .header-search .signin {
  position: relative;
}

header .header .header-search .signin::after {
  content: "";
  width: 2px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 70px;
  background-color: #6eeb83;
}

/* MAIN */
main {
  padding: 20px 120px;
  background-color: #272727;
  color: #fff;
}

main h1 {
  font-size: 24px;
  margin-bottom: 52px;
  position: relative;
  font-family: Lexend Deca;
  font-size: 40px;
  line-height: 50px;
}

main h1::after {
  content: "";
  width: 80px;
  height: 4px;
  background-color: #6eeb83;
  position: absolute;
  top: 0;
  left: 14px;
}

main h2 {
  font-family: "DM Serif Display", serif;
  color: #6eeb83;
  font-size: 20px;
  padding: 12px 0;
  cursor: pointer;
}

main .news-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 47px 74px;
}

main .news-item {
  padding: 10px;
  text-align: left;
}

main .news-item p {
  padding: 7px 18px;
  font-size: 13px;
  font-weight: 500;
  color: #a5a5a5;
  border-radius: 5px;
  border: 1px solid #1d4824;
  width: fit-content;
}

main .news-item img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  border-radius: 10px;
}

main .loading {
  display: none;
  color: #fff;
  align-items: center;
  padding: 100px 0;
  text-align: center;
}

/* SIGN UP FORM */
.signup {
  position: fixed;
  top: 0;
  left: 0;
  background: #272727;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: none;
}

.signup.show {
  display: block;
}

.signup.hide {
  display: none;
}

.signup .content {
  margin: 58px 34px;
  border-radius: 16px;
  width: 100%;
  height: auto;
  position: relative;
}

.signup .content img {
  width: calc(100vw - 68px);
  height: calc(100vh - 116px);
}
.signup .formSignup {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 100%;
  border-radius: 16px;
  background: #272727;
  z-index: 1;
  text-align: center;
  align-items: center;
  display: block;
}

.signup .formSignup form {
  padding: 110px 115px;
  text-align: left;
  display: inline-block;
}

.signup .formSignup form h2 {
  font-family: Lexend Deca;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: -0.4px;
  color: #fff;
  margin-bottom: 24px;
}

.formSignup form p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #a5a5a5;
  margin-bottom: 40px;
}

.formSignup form label {
  color: #6eeb83;
  font-size: 16px;
  display: block;
}

.formSignup form input {
  border-radius: 4px;
  border: 1px solid #a5a5a5;
  background: var(--gray-800, #30445b);

  /* White BTN */
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.08);
  width: 310px;
  height: 40px;
  flex-shrink: 0;
  padding-left: 12px;
  color: #fff;
  font-size: 16px;
}

.formSignup form .signupBtn {
  display: block;
  margin-top: 40px;
  display: flex;
  width: 310px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: var(--grey, #a5a5a5);
  text-align: center;
  font-family: Lexend Deca;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: rgba(58, 53, 65, 0.26);
  cursor: pointer;
}

.formSignup form .signupBtn:hover {
  background: var(--main-500, #6eeb83);
  color: #272727;
}

.formSignup form .signinBtn {
  display: inline-flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1.5px solid var(--main-500, #6eeb83);
  background-color: transparent;
  color: #6eeb83;
  display: block;
  margin-top: 40px;
  display: flex;
  width: 310px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  text-align: center;
  font-family: Lexend Deca;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
}

.formSignup form .option {
  margin-left: 140px;
  margin-top: 80px;
  color: #6eeb83;
}

.formSignup form div {
  margin-bottom: 20px;
}

.content .back {
  position: absolute;
  top: 30px;
  left: 80px;
  color: #fff;
  z-index: 1;
  font-size: 20px;
}

.content .back i {
  padding: 12px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.content .back:hover {
  color: #6eeb83;
  border-color: #6eeb83;
}

/* SIGNINFORM */
.signin {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: #272727;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: none;
}

.signin.show {
  display: block;
}

.signin.hide {
  display: none;
}

.content {
  margin: 58px 34px;
  border-radius: 16px;
  width: 100%;
  height: auto;
  position: relative;
}

.content img {
  width: calc(100vw - 68px);
  height: calc(100vh - 116px);
}
.formSignup {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 100%;
  border-radius: 16px;
  background: #272727;
  z-index: 1;
  text-align: center;
  align-items: center;
  display: block;
}

.formSignup form {
  padding: 110px 115px;
  text-align: left;
  display: inline-block;
}

.formSignup form h2 {
  font-family: Lexend Deca;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: -0.4px;
  color: #fff;
  margin-bottom: 24px;
}

.formSignup form p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #a5a5a5;
  margin-bottom: 40px;
}

.formSignup form label {
  color: #6eeb83;
  font-size: 16px;
  display: block;
}

.formSignup form input {
  border-radius: 4px;
  border: 1px solid #a5a5a5;
  background: var(--gray-800, #30445b);

  /* White BTN */
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.08);
  width: 310px;
  height: 40px;
  flex-shrink: 0;
  padding-left: 12px;
  color: #fff;
  font-size: 16px;
}

.formSignup form .signupBtn {
  display: block;
  margin-top: 40px;
  display: flex;
  width: 310px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: var(--grey, #a5a5a5);
  text-align: center;
  font-family: Lexend Deca;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: rgba(58, 53, 65, 0.26);
  cursor: pointer;
}

.formSignup form .signupBtn:hover {
  background: var(--main-500, #6eeb83);
  color: #272727;
}

.formSignup form .signinBtn {
  display: inline-flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1.5px solid var(--main-500, #6eeb83);
  background-color: transparent;
  color: #6eeb83;
  display: block;
  margin-top: 40px;
  display: flex;
  width: 310px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  text-align: center;
  font-family: Lexend Deca;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
}

.formSignup form .option {
  margin-left: 140px;
  margin-top: 80px;
  color: #6eeb83;
}

.formSignup form div {
  margin-bottom: 20px;
}

.content .back {
  position: absolute;
  top: 30px;
  left: 80px;
  color: #fff;
  z-index: 1;
  font-size: 20px;
}

.content .back i {
  padding: 12px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.content .back:hover {
  color: #6eeb83;
  border-color: #6eeb83;
}
