.container{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 70px auto;
}

.timeline-item{
  display: flex;
  margin: 1.4rem 0;
}

.item-detail{
  text-align: right;
  padding: 0 20px;
  width: 320px;
}

.item-time{
  position: relative;
  padding: 0 20px;
}

.item-time::after{
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  top: 6px;
  left: 0;
  background-color: var(--active-color);
  border-radius: 50%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.616);
}

.item-time::before{
  content: '';
  width: 2px;
  height: 140px;
  position: absolute;
  top: 6px;
  left: 3px;
  background-color: var(--light-gray-color);
}

.image{
  margin: 1.4rem 2rem;
  width: fit-content;
}

.image img{
  width: 464px;
}
