* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  font-size: 48px;
  color: black;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgb(234, 234, 234);
  width: 52px;
  height: 52px;
  text-align: center;
  line-height: 30px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
