:root {
  --heading-color: #0b0c22;
  --text-color: #b0b0b2;
  --active-color: #4aa495;
  --light-gray-color: #f3f3f3;
  --brown-color: #a26f5a;
  --white-color: #fff;

  --border-radius: 0.8rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--heading-color);
  font-family: "Inter", sans-serif;
  font-style: bold;
  margin: 2rem 0;
}

p {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
  font-family: "Inter", sans-serif;
  margin-bottom: 0.5rem;
}


