.container{
  width: 80%;
  align-items: center;
  margin: 40px auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item{
  flex-basis: 31%;
  padding: 30px;
  margin: 20px 10px;
  border: 2px solid var(--light-gray-color);
  position: relative;
}

.item::before{
  content: '';
  position: absolute;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  top: 20px;
  left: 20px;
  background-color: transparent;
  border: 2px solid #fff;
}

.item::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #a16f5a73;
  transition: all 0.5s;
  display: none;
}

.item:hover .item::after{
  display: block;
}

.item:hover i{
  display: none;
}

.item:hover h2{
  margin: 0;
  color: var(--white-color);
  z-index: 1;
}

.item i{
  font-size: 45px;
  color: #a16f5a;
  display: block;
  /* display: none; */
}

.item:hover{
  color: #fff;
  background-image: ulr();
  background-color: #a16f5a73;
}

.item:hover .item-more{
  display: block;
}

.item-more{
  color: #8b1f1f;
  display: none;
}

.item-more i{
  font-size: 1rem;
  margin-left: 20px;
  color: #fff;
  padding: 3px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.item-more p{
  color: #fff;
}