* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border-radius: var(--card-border-radius);
  border: var(--color-gray-dark);
}

.btn {
  display: block;
  margin: 30px auto;
  padding: 10px 30px;
  border: none;
  background-color: blanchedalmond;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  /* transition: background 0.4s linear; */
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  overflow: hidden;
  left: -10px;
  bottom: 0;
  right: 100%;
  background: #ff008061;
  border-radius: 10px;
  transition: right 0.4s linear;
}

.btn:hover::after {
  right: 0;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  overflow: hidden;
  left: 100%;
  bottom: 0;
  right: 0;
  background: #0ff07f7c;
  border-radius: 10px;
  transition: left 0.4s linear;
}

.btn:hover::before {
  left: 0;
}
/* .btn:hover{
    background-color: red;
} */
