@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #04a8f5;
  overflow: hidden;
}

main {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 100vh;
  background: #04a8f5;
}

.main-nav{
  padding-right: 50%;
}

.btn, 
.btn-hover {
  font-size: 40px;
  color: #04a8f5;
}

.btn-hover {
  animation:flip 0.3s 1 ;
}

.bg{
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 0 0 100px 0;
  position: relative;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 1s ease-out;

}

input {
  display: none;
}

.bg label {
  position: absolute;
  top: 20%;
  left: 20%;
}

.nav {
  visibility: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 200px;
  background-color: transparent;
}

ul{
  padding: 10px 0;
}

ul li {
  padding: 10px 30px;
}

li  {
  color: #04a8f5;
  font-weight: 500;
}

li label {
  display: block;
  width: 100%;
}

.item-home, .item-about, .item-portfolio, .item-contact{
  padding-left: 60px;
}

input[id="menu"]:checked ~ .bg label {
  visibility: hidden;
}

input[id="menu"]:checked~.bg {
  transform: scale(70);
}

input[id="menu"]:checked~.nav {
  visibility: visible;
}

input[id="menu"]:checked~.nav .btn-hover {
  rotate: 180deg;
}

input[id="home"]:checked~.item-home,
input[id="about"]:checked~.item-about ,
input[id="portfolio"]:checked~.item-portfolio ,
input[id="contact"]:checked~.item-contact {
  color: black;
  background-color: #f8efe8ce;
}

/* main title */
.main-title {
  margin: auto;
  text-align: center;
}

h1 {
  color: #fff;
  font-weight: 700;
  font-size: 60px;
}

p {
  font-weight: 100;
  color: #fff;
  font-size: 20px;
}

p span{
  font-weight: 100;
  font-size: 34px;
}