* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.box {
  width: 400px;
  height: 300px;
  margin: 40px auto;
  border: 1px solid red;
  position: relative;
  /* overflow: hidden; */
}

.box span {
  width: 50px;
  height: 50px;
  display: block;
  background-color: red;
  position: absolute;
  /* top: 50%; */
  /* transform: translateX(-50%) translateY(-50%); */
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes move {
  0% {
    left: 0;
    top: 0;
    transform: translateX(100%);
  }

  25% {
    left: 100%;
    top: 0;
    /* transform: translateX(-100%); */
  }

  50% {
    left: 100%;
    top: 100%;
    transform: translate(-100%, -100%);
    /* transform: translateY(100%); */
  }

  75% {
    left: 0;
    top: 100%;
    transform: translateY(-100%);
  }

  100% {
    left: 0;
    top: 0;
  }
}

@keyframes moveRightToLeft {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translate(-50%, -70%);
  }
  50% {
    transform: translate(-50%, -67%);
  }
}
