@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

html{
  background-color: #04a8f5;
  overflow: hidden;
}

.main{
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.menu .btn-bg{
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 0 0 100px 0;
  position: relative;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.menu .btn-bg:hover{
  transform: scale(70);
}

.menu .btn-bg:hover .btn-hover{
  opacity: 1;
}

.menu .btn-bg:hover ~ .btn{
  opacity: 0;
}

.menu .btn-bg:hover ~ .btn-hover{
  animation:flip 0.3s 1 ;
  opacity: 1;
}

.btn{
  position: absolute;
  top: 2%;
  left: 2%;
  font-size: 40px;
  color: #04a8f5;
  cursor: pointer;
}

.btn-hover{
  position: absolute;
  top: 2%;
  left: 2%;
  font-size: 40px;
  color: #04a8f5;
  opacity: 0;
  cursor: pointer;
}

.menu ul{
  position: absolute;
  top: 100px;
}

.menu ul li{
  margin: 20px;
  list-style: none;
}

.menu ul li a{
  text-decoration: none;
  font-weight: 600;
  margin-left: 20px;
  color: #04a8f5;
  /* color: #fff; */
  z-index: 99;
}

.main-title{
  margin: auto 100px;
  color: #fff;
}