.header{
    padding: 30px;
    .header__inner{
        color: red;
        .menu{
            > li {
                > a{
                    display: block;
                    &:hover{
                        color: red;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.footer{
    .copyright{
        text: {
            align: center;
            decoration: none;
            transform: uppercase;
        }
    }
}
