<h1>Thêm người dùng</h1>

<form action="" method="post" class="mb-3">
  <!-- name -->
  <div class="mb-3">
    <label for="fullname">Tên</label>
    <input
      type="text"
      name="fullname"
      class="form-control"
      placeholder="Nhập tên..."
    />
  </div>

  <!-- email -->
  <div class="mb-3">
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      class="form-control"
      placeholder="Nhập email..."
    />
  </div>

  <!-- mật khẩu -->
  <div class="mb-3">
    <label for="email">Mật khẩu</label>
    <input
      type="password"
      name="password"
      class="form-control"
      placeholder="Nhập mật khẩu..."
    />
  </div>

  <!-- trạng thái -->
  <div class="mb-3">
    <label for="">Trạng thái</label>
    <select name="status" class="form-select">
      <option value="1">Kích hoạt</option>
      <option value="0">Chưa kích hoạt</option>
    </select>
  </div>

  <button class="btn btn-primary">Lưu</button>
</form>
