<div class="w-50 mx-auto">
  <h1 class="text-center">Đăng nhập</h1>
  <% if (error.length) { %>
  <div class="alert alert-danger"><%= error %></div>
  <% } %>
  <form action="" method="post">
    <!-- email input -->
    <div class="mb-3">
      <label for="">Email</label>
      <input
        type="email"
        name="email"
        class="form-control"
        placeholder="Nhập email ..."
      />
    </div>

    <!-- password input -->
    <div class="mb-3">
      <label for="">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        placeholder="Nhập mật khẩu ..."
      />
    </div>

    <!-- nút submit -->
    <div class="d-grid">
      <button class="btn btn-primary">Submit</button>
      <a href="/auth/google/redirect" class="btn btn-danger mt-3"
        >Login with Google</a
      >
    </div>
  </form>
</div>
