@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  background-color: #272727;
}

body {
  font-family: "Lexend Deca", sans-serif;
  background-color: #272727;
}

/* PRE HEADER */
header .pre-header {
  display: flex;
  padding: 0 120px;
  background: #fff;
  color: #393939;
  justify-content: space-between;
  align-items: center;
}

header button {
  background-color: #6eeb83;
  border: none;
  color: #fff;
  padding: 15px 7px;
  cursor: pointer;
}

header .pre-header p,
header .pre-header i {
  padding: 15px 7px;
  font-size: 12px;
  background: #fff;
}
.pre-header_info,
.pre-header_weather,
.pre-header_time {
  display: flex;
}

header .pre-header .pre-header_social {
  display: flex;
  gap: 10px;
  background: #fff;
}

header .pre-header .pre-header_social i {
  padding: 4px;
  background-color: #6eeb83;
  border-radius: 50%;
  color: #272727;
  cursor: pointer;
}

/* HEADER */
header .header {
  background-color: #272727;
  display: flex;
  justify-content: space-between;
  padding: 37px 120px;
}

header .header-logo {
  cursor: pointer;
}

header .header ul {
  display: flex;
  gap: 70px;
  align-items: center;
  color: #fff;
}

header .header ul li a {
  color: #fff;
}

header .header ul li a.active {
  color: #6eeb83;
}

header .header .header-search {
  align-items: center;
  padding: 22px 0;
  cursor: pointer;
}

header .header .header-search i {
  align-items: center;
  color: #fff;
}

/* MAIN */
main {
  padding: 20px 120px;
  background-color: #272727;
  color: #fff;
}

main h1 {
  font-size: 24px;
  margin-bottom: 52px;
  position: relative;
  font-family: Lexend Deca;
  font-size: 40px;
  line-height: 50px;
}

main h1::after {
  content: "";
  width: 40px;
  height: 4px;
  background-color: #6eeb83;
  position: absolute;
  top: 0;
  left: 14px;
}

main h2 {
  font-family: "DM Serif Display", serif;
  color: #6eeb83;
  font-size: 20px;
  padding: 12px 0;
  cursor: pointer;
}

main .news-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 47px 74px;
}

main .news-item {
  padding: 10px;
  text-align: left;
}

main .news-item p {
  padding: 7px 18px;
  font-size: 13px;
  font-weight: 500;
  color: #a5a5a5;
  border-radius: 5px;
  border: 1px solid #1d4824;
  width: fit-content;
}

main .news-item img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  border-radius: 10px;
}

main .loading {
  display: none;
  color: #fff;
  align-items: center;
  padding: 100px 0;
  text-align: center;
}
