.now {
  color: #fff;
  border-radius: 32px;
  background: rgba(32, 32, 32, 0.86);
  padding: 16px 24px;
  display: flex;
  gap: 20px
}

.now-song_info {
    width: 80%;
    text-align: center;
}

.now-song_info .song-play .song-play_action {
    display: flex;
    gap: 20px;
    justify-content: center;
    color: #ccc;
    font-size: 24px;
    margin: 20px 0;
}

.now-song_info .song-play .song-play_action i {
    cursor: pointer;
}

.now-song_info .song-play .song-play_slide {
    display: flex;
    justify-content: space-between;
    padding: 0 160px;
}

.now-song_action {
    display: flex;
    gap: 16px;
    align-items: center;
}

.now-song_action i {
    cursor: pointer;
}

.now-song_action i.active {
    color: #38bacc;
}