@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: rgb(126, 167, 194);
}

.container {
    margin: 100px 200px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
}

h2 {
    padding-bottom: 20px;
    font-size: 24px;
}