* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #d3d1d1;
}
.section-container {
  width: 720px;
  margin: 150px auto;
  min-height: 300px;
}

.content-wrap {
  position: relative;
  font-size: 0;
  text-align: left;
  color: #5d5c5c;
}

.content-wrap > input {
  position: absolute;
  display: none;
}

.content-wrap > label {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 2px 2px 0;
  font-size: 13px;
  line-height: 45px;
  cursor: pointer;
}

.content-wrap > label span {
  display: block;
  padding: 5px;
  background: #fff;
}

.content-wrap > label span span {
  padding: 0 14px;
  transition: all 0.3s ease;
}

.content-wrap > label:hover span span {
  background: #288acb;
  color: #fff;
}

.content-wrap > input:checked + label span span {
  background: #288acb;
  color: #fff;
}

.content-wrap > ul {
  list-style: none;
  position: relative;
  display: block;
  font-size: 13px;
}

.content-wrap > ul > li {
  position: absolute;
  top: 0;
  left: 0;
  width: 683px;
  overflow: auto;
  padding: 20px;
  background: #fff;
  box-sizing: border-box;
  opacity: 0;
  transform-origin: 0% 0%;
  transition: all 0.8s;
}

.content-wrap ul h1 {
  font-size: 24px;
  font-weight: 600;
}

.content-wrap ul p {
  margin-top: 8px;
}

.content-wrap > .simples:checked ~ ul > .simples,
.content-wrap > .algoritmo:checked ~ ul > .algoritmo,
.content-wrap > .barra:checked ~ ul > .barra,
.content-wrap > .captcha:checked ~ ul > .captcha {
  position: relative;
  z-index: 1;
  opacity: 1;
}

.content {
  width: 660px;
  position: relative;
  line-height: 20px;
}

.animation > ul {
  perspective: 2000px;
  perspective-origin: 50% 50%;
}

.animation > ul > li {
  transform: rotateX(-90deg);
}

.animation > .simples:checked ~ ul > .simples,
.animation > .algoritmo:checked ~ ul > .algoritmo,
.animation > .barra:checked ~ ul > .barra,
.animation > .captcha:checked ~ ul > .captcha {
  transform: rotateX(0deg);
  transition-delay: 0.2s;
}