@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: antiquewhite;
}

img {
    width: 100%;
}

/* nav */
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;
}

.brand img{
    width: 44px;
}

.brand {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
}

.container {
    min-height: 75vh;
}

.bottom {
    position: sticky;
    height: 130px;
    background-color: black;
    bottom: 0;
}

#progressBar {

}