body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 100px;
}

.counter {
  font-size: 36px;
  margin-bottom: 20px;
}

.btn {
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #b65b30;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
