@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #513c5d;
  overflow: hidden;
}

button, .continue-btn{
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  outline: none;
  background-color: #e6b257;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #e6b257;
  font-weight: 500;
}

main {
  pointer-events: auto;
}

main.active {
  filter: blur(15px);
}

main .start-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

main .start-btn:hover {
  background-color: #e6b25788;
}

.popup-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: #fff;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  transition: .3s ease;
}

.popup-info.active {
  opacity: 1;
  pointer-events: auto;
}

.popup-info h2 {
  font-size: 24px;
  color: #513c5d;
}

.popup-info span {
  font-weight: 400;
  padding: 10px 0 20px;
}

.popup-info .btn-group {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-info .btn-group .continue-btn:hover {
  background-color: transparent;
  color: #e6b257;
  border: 1px solid #e6b257;
}

.popup-info .btn-group .exit-btn:hover {
  background: rgb(158, 23, 23);
  border: 1px solid rgb(158, 23, 23);
}

.container {
  display: flex;
  height: 100vh;
}

.quiz-section {
  background-color: #513c5d;
}