* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: "Inter", sans-serif;
}

/* 1. Header */
header {
  background-color: #fff;
  display: flex;
}

.header-section {
  margin: 0px auto;
}
.header-nav {
  margin: 23.8px 0px;
}
.header-nav nav {
  display: flex;
  padding: 2% 6%;
  align-items: center;
}

.header-nav {
  flex: 1;
}
.header-nav ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 28px;
  position: relative;
}
.header-nav ul li a {
  color: #555555;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  position: relative;
  letter-spacing: 0px;
  font-weight: 500;
}

.header-nav ul li a img {
  width: 84px;
  height: 43px;
}

.header-nav ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #555555;
  display: block;
  margin: auto;
  transition: all 0.25s ease;
}

.header-nav ul li:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #3f5d18;
  color: #3f5d18;
  display: block;
  margin: auto;
}

.header-action {
  margin: auto 24px;
}
.header-action a img {
  width: 20px;
  height: 20px;
}
/* End Header */

.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  height: 600px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  font-size: 48px;
  color: black;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgb(234, 234, 234);
  width: 52px;
  height: 52px;
  text-align: center;
  line-height: 30px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.dot-container {
  text-align: center;
  margin-top: 20px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}

/* 2.1 Section About */
.about-container {
  position: relative;
  max-width: 64%;
  margin: 40px auto;
}

.about-story {
  width: 100%;
  height: 480px;
  position: relative;
  cursor: pointer;
}

.about-story img {
  width: 100%;
  height: 480px;
}

.about-story .about-overlay_02 {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px 36px;
  background-color: rgba(255, 241, 208, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3f5d18;
  font-size: 24px;
  font-weight: 800;
}

.about-story:hover .about-overlay_02 {
  opacity: 1;
  transition: ease-in 0.5s;
}

.about-story .about-overlay {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 241, 208, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3f5d18;
  font-size: 24px;
  font-weight: 800;
}

.about-story:hover .about-overlay {
  opacity: 0;
}

.about-menu {
  display: flex;
  margin: 40px 0;
  justify-content: space-between;
}

.about-menu .menu img,
.about-menu .food img {
  width: 463px;
  height: 337px;
  cursor: pointer;
}

.menu {
  position: relative;
  cursor: pointer;
}

.about-menu .menu .menu-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px 36px;
  background-color: rgba(255, 241, 208, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3f5d18;
  font-size: 24px;
  font-weight: 800;
  transition: ease-in 0.5s;
}

.food {
  position: relative;
  cursor: pointer;
}

.about-menu .food .food-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px 36px;
  background-color: rgba(255, 241, 208, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3f5d18;
  font-size: 24px;
  font-weight: 800;
}

.about-menu .menu:hover .menu-overlay,
.about-menu .food:hover .food-overlay {
  margin-bottom: 12px;
}

/* .about-menu .menu .menu-overlay:hover{
    padding-bottom: 100px;
  } */

.about-news {
  margin: 40px 0;
  position: relative;
  cursor: pointer;
}

.about-news img {
  width: 100%;
}

.about-hiring {
  position: relative;
  cursor: pointer;
}

.about-hiring img {
  width: 100%;
}

.hiring-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 241, 208, 0.9);
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3f5d18;
  font-size: 24px;
  font-weight: 800;
}

.about-feature {
  display: flex;
}

.hiring-overlay h3 {
  color: #3f5d18;
  font-size: 24px;
  font-weight: 800;
  padding: 20px 0;
}

.hiring-overlay h3::after {
  content: "";
  width: 50%;
  height: 4px;
  background: #3f5d18;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.hiring-overlay p {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
}

.new-overlay {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 100%;
  padding: 0 36px;
  background-color: rgba(255, 241, 208, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3f5d18;
  font-size: 24px;
  font-weight: 800;
}

.new-overlay h3 {
  color: #3f5d18;
  font-size: 24px;
  font-weight: 800;
  padding: 20px 0;
}

.new-overlay h3::after {
  content: "";
  width: 30%;
  height: 4px;
  background: #3f5d18;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.new-overlay p {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
}

.about-feature-item {
  padding-right: 97px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.about-feature-item h2 {
  font-size: 16px;
  color: #3c5e2c;
}

.about-feature-item p a {
  color: #232323;
  font-size: 16px;
  text-decoration: none;
}

.contact {
  display: flex;
}

footer {
  background-color: #3c5e2c;
}

.footer {
  width: 50%;
  padding: 30px 0;
  color: #fff;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1.5;
}

.footer a {
  text-decoration: none;
  color: #fff;
}
