.root_sidebar {
  background-color: #000000;
  grid-area: left-sidebar;
  display: flex;
  flex-direction: column;
  color: #b3b3b3;
}

.root_sidebar-logo {
  width: 40px;
  max-width: 131px;
  margin: 24px;
  cursor: pointer;
}

.root_sidebar-nav {
  padding: 0px 8px;
}

.root_sidebar-nav > li {
  padding: 0 16px;
  font-weight: 600;
  height: 40px;
  border-radius: 4px;
  opacity: 0.9;
  transition: 0.2s linear;
  cursor: pointer;
  display: flex;
  align-items: center;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
}

.root_sidebar-nav .current {
  opacity: 1;
  color: white;
  background-color: #282828;
}

.root_sidebar-nav > li:hover {
  opacity: 1;
  color: white;
}

.root_sidebar-nav > li > i {
  width: 18px;
  margin-right: 20px;
  opacity: 0.9;
}
