* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
:root {
  --container-width: 1200px;
  --max-column: 12;
  --column-space: 20px;
}

/* 
  quy ước:
    - triển khai theo mobile first
    .col-number: <576px;
    .col-md-number: >=768px;
    
 */
.container {
  max-width: var(--container-width);
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(-1 * var(--column-space) / 2);
}
.row [class^="col-"] {
  --column-width: calc(100% / (var(--max-column) / var(--column-number)));
  flex-basis: var(--column-width);
  max-width: var(--column-width);
}
.col-1 {
  --column-number: 1;
}
.col-2 {
  --column-number: 2;
}
.col-3 {
  --column-number: 3;
}
.col-4 {
  --column-number: 4;
}
.col-5 {
  --column-number: 5;
}
.col-6 {
  --column-number: 6;
}
.col-7 {
  --column-number: 7;
}
.col-8 {
  --column-number: 8;
}
.col-9 {
  --column-number: 9;
}
.col-10 {
  --column-number: 10;
}
.col-11 {
  --column-number: 11;
}
.col-12 {
  --column-number: 12;
}