* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
}

.container {
  width: 54%;
  margin: 60px auto;
  background-color: #fffbfb;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 16px;
}

h1,
p {
  margin: 30px 0;
  text-align: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inputBox {
  position: relative;
  width: 340px;
  margin: 10px 0;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  border: 1px solid #b3b3b3;
  color: #888;
  border-radius: 5px;
  outline: none;
  font-size: 1em;
  transition: background-color 0.3s;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.055);
}

.inputBox span {
  position: absolute;
  color: #888;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  transition: 0.5s;
}

.inputBox input:focus{
  border-color: #0f4079;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: #888;
  transform: translateX(3px) translateY(2px);
  font-size: 0.5em;
  padding: 0 10px;
  background-color: #fff;
}

.inputBox input:valid {
  background-color: #e5f3f7;
  border-color: #0f4079;
  color: #000;
}

.inputBox input:valid ~ span{
  background-color: transparent;
}

.inputBox select {
  width: 100%;
  padding: 10px;
  border: 1px solid #b3b3b3;
  color: #888;
  border-radius: 5px;
  font-size: 1em;
  outline: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.055);
}

.inputBox select option:hover{
  background-color: #e5f3f7;
}
.inputBox:last-child {
  width: 100%;
}

.inputBox:last-child textarea {
  width: 100%;
  height: 200px;
  border: 1px solid #b3b3b3;
  color: #888;
  border-radius: 5px;
  position: relative;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.055);
}

.inputBox:last-child textarea::placeholder {
  color: #888;
  pointer-events: none;
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  transition: 0.5s;
}

.inputBox textarea:focus + span {
  color: #888;
  transform: translateX(3px) translateY(3px);
  font-size: 0.65em;
  padding: 0 10px;
  background-color: #fff;
}

span.mess {
  color: #888;
  display: none;
  position: absolute;
  top: -8px;
  left: 0;
  font-size: 8px;
  transition: 0.5s;
}

.inputBox:last-child textarea:focus::placeholder {
  color: transparent;
}

.inputBox:last-child textarea:focus ~ span{
  display: block;
}

button{
  padding: 10px 18px;
  border: none;
  border-radius: 16px;
  background-color: #2079df;
  color: #fff;
  cursor: pointer;
}