*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 70%;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.container h1{
    font-size: 3rem;
    margin: 1rem 0;
}

.container p{
    font-size: 15px;
}

.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item{
    flex-basis: 30%;
    margin: 1rem;
}

.item img{
    width: 8rem;
}

.item p{
    margin: 0.7rem 0;
    color: #7d7d7d;
    height: 100px;
}

.item button{
    padding: 0.7rem 2rem;
    border: none;
    background: #1c3783;
    color: #fff;
}