body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #323543;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.container > .envelope-wrapper {
  background: #db554a;
}

.envelope-wrapper > .envelope {
  position: relative;
  width: 300px;
  height: 230px;
}
.envelope-wrapper > .envelope::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 2;
  border-top: 130px solid #cb4e43;
  border-right: 150px solid transparent;
  border-left: 150px solid transparent;
  transform-origin: top;
  transition: all 0.5s ease-in-out 0.7s;
}
.envelope-wrapper > .envelope::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 0px;
  height: 0px;
  border-top: 130px solid transparent;
  border-right: 150px solid #e85f57;
  border-bottom: 100px solid #e85f57;
  border-left: 150px solid #e2514b;
}
.envelope > .letter {
  position: absolute;
  right: 20%;
  bottom: 0;
  width: 54%;
  height: 80%;
  background: #fff;
  text-align: center;
  transition: all 1s ease-in-out;
  padding: 20px 10px;
}

.flap > .envelope:before {
  transform: rotateX(180deg);
  z-index: 0;
}
.flap > .envelope > .letter {
  bottom: 100px;
  transform: scale(1.5);
  transition-delay: 1s;
}

