<nav class="col-md-2 d-none d-md-block bg-light sidebar py-4">
  <div class="sidebar-sticky">
    <div class="logo">F8</div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="/"> Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users"> Manage User </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/roles"> Manage Role </a>
      </li>
    </ul>
  </div>
</nav>
