<nav class="col-md-2 d-none d-md-block bg-light sidebar py-4">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <h3>Navigation</h3>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/"> Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users"> Quản lý người dùng </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/roles"> Quản lý vai trò </a>
      </li>
    </ul>
    <hr />
    <ul class="nav d-flrx gap-2 list-unstyled">
      <li class="nav-item"><a href="/auth/logout">Đăng xuất</a></li>
    </ul>
  </div>
</nav>
